- if object.errors.any?
  .alert.alert-danger
    %h4.alert-heading
      %span.material-icons
        report_problem
      = "#{pluralize(object.errors.count, "error")} prohibited this project from being saved:"
    %hr
    %ul
      - object.errors.full_messages.each do |message|
        %li= message